
ul {
	list-style-position:inside;
	
	
}
#toform {
	position:static;
	margin-left:150px;
	vertical-align:center;
	width:200px;
	height:100px;
	background:#00ff00;
	transition:width 5s, font-size 5s;
	font-size:1.25em;
	border-radius:15px;
}
#toform:hover {
	width:300px;
	font-size:1.5em;
}
.kindered {
	background-color: #aaffdd;
	width: 350px;
	left: 150px;
	top: 200px;
	border-radius: 20px;
	box-shadow: 7px 10px 5px 4px #003355;
	padding: 10px;
	margin-left: 70px;
	transform: translate(180px, -360px);
}
.myfamily {
	top: -100px;
	width: 200px;
	background-color: #aabbff;
	border-radius: 20px;
	box-shadow: 5px 5px 4px 4px #226622;
	padding: 10px;
	margin-top: 60px;
	color: blue;
	font-size: 1.5em;
	text-indent: 1em;
	list-style-type: lower-alpha;	
}
.fotofam {
	Width: 200px;
	height: 200px;
	background-color: Yellow;
	border-radius: 15px;
}